**Exercise 1: Create a Jupyter Notebook**
<br>Create a new Jupyter notebook called **DataScienceEcosystem.ipynb**

**Exercise 2: Create markdown cell with title of the notebook**
<br>Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**
<br>Write an introductory sentence about the notebook such as the follows:
<br>*In this notebook, Data Science Tools and Ecosystem are summarized.*

In this notebook we'll see the different Data Science Tools and Ecosystems summarized.

**Exercise 10 - Insert a markdown cell to list Objectives**
Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: 
<br>Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List development environment tools for Data Science in a table
- Evaluate arithmetic expressions in Python
- Show what I have learned

**Exercise 4 - Create a markdown cell to list data science languages**
<br>Start the cell with an overview line such as:
<br>*Some of the popular languages that Data Scientists use are:*

Some of the popular languages that Data Scientists use are:
- Python
- R
- SQL
- Scala
- Java
- C++
- Julia

**Exercise 5 - Create a markdown cell to list data science libraries**
<br>Add an overview line to the cell like:
<br>*Some of the commonly used libraries used by Data Scientists include:*

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- Matplotlib
- Seaborn
- ggplot

**Exercise 6 - Create a markdown cell with a table of Data Science tools**
<br>Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science.

|Data Science Tools|
|------------------|
|Jupyter|
|Apache Zeppelin|
|R Studio|
|Spyder|

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**
<br>Add a line in this cell with H3 style heading with text like:
<br>*Below are a few examples of evaluating arithmetic expressions in Python.*

### Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8 - Create a code cell to multiply and add numbers**
<br>In this code cell evaluate the expression (3*4)+5.
<br>Insert a comment line before the expression to explain the operation e.g. *This a simple arithmetic expression to mutiply then add integers.*
<br>Then execute the cell to ensure the expression returns the expected output of 17.

This is a simple arithmetic expression to multiply then add integers.

In [5]:
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**
<br>In this code cell write an expression that converts 200 minutes into hours.
<br>Insert a comment line before the expression to explain the operation e.g. *This will convert 200 minutes to hours by diving by 60.*
<br>Run the cell to evaluate the expression.

This will convert 200 minutes to hours by dividing by 60.

In [8]:
hours = 200/60
answer = round(hours, 2)
print(f"{answer} hours")

3.33 hours

**Exercise 11 - Create a markdown cell to indicate the Author's name**
<br>In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author.
## Author
Andrei Ilie Tolos

**Exercise 12 - Share your notebook through GitHub**
<br>Upload your notebook to a public respository on GitHub.